html{
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'MP';
  src: url('assets/fonts/MyriadPro/MPregular.woff2') format('woff2'),
       url('assets/fonts/MyriadPro/MPregular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MP';
  src: url(assets/fonts/MyriadPro/MPconditalic.woff2) format('woff2'),
       url(assets/fonts/MyriadPro/MPconditalic.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}

#blackFrame {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9998;
  pointer-events: none;
}

 #loaderWrapper {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  background: transparent;
}

#loaderWrapper video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10000;
  visibility: visible;
  mix-blend-mode: normal;
  background: transparent;
}
    body {
      margin: 0;
      background-color: #e3dfd5;
      font-family: sans-serif;
      overflow-x: hidden;
    }

    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 53px;
      background-color: #d5cdb9;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      z-index: 1000;
      box-shadow: 0 3px 0px #aa9f88;
    }

    .logo {
      height: 45px;
      margin: auto -20px;
    }

    .content {
      position: relative;
      width: 100%;
      height: 100vh;
    }

    .greeting-text {
      font-family: 'MP', sans-serif;
      font-weight: 300;
      font-size: 6rem;
      margin-top: 34vh;
      margin-left: 3vw;
      position: absolute;
      opacity: 1;

    }

    .subtitle{
      font-family: 'MP', sans-serif;
      font-weight: 300;
      font-size: 2.5rem;
      font-style: italic;
      margin-top: 60vh;
      margin-left: 5vw;
      position: absolute;
      opacity: 1;
    }

    .chair {
      position: absolute;
      transform: scale(0.55);
      bottom: -24vh;
      right: -11vw;
      display: none;
    }